{% extends 'layouts/application.html' %}
{% set title = "Get Started" %}
{% set body_classes = "layout-app" %}

{% block before_main %}
<aside class="ui-sidebar">
{% include "get-started/subnav-get-started.html" %}
</aside>
{% endblock %}

{% block content %}
    <header class="ui-title">
        <p>Overview</p>
        <h1>Get Started</h1>
    </header>
    <p class="lead"><b>{{ site_name }}</b> provides design guidelines and code to help you quickly create 
        trustworthy, accessible, and consistent digital services.</p>

    <p>{{ site_name }} is built on top of <a href="https://github.com/vigetlabs/blendid">Blendid</a> by Vigetlabs.</p>
    <h2>Get going with these commands</h2>
<pre>
yarn init
yarn add blendid
yarn run blendid -- init
yarn run blendid
</pre>

{% endblock %}  