{% extends 'layouts/block.html' %}

{% set pattern_name = "Color" %}
{% set pattern_advice = "All colours should be contrast checked." %}
{% set pattern_external_link = "https://webaim.org/resources/contrastchecker/" %}

{% import "macros/colours.html" as macroColors %}

{% block content %}

{% set colors = [
    {
        "color_name"  : "Brand Main",
        "color_value" : "#f06d06",
        "color_notes" : "Our main color."
    },
    {
        "color_name"  : "Brand Highlight",
        "color_value" : "#d0b000",
        "color_notes" : "For callouts and highlights."
    },
    {
        "color_name"  : "Brand Gray Dark",
        "color_value" : "#333333",
        "color_notes" : "Used as background colour on blockquote."
    },
    {
        "color_name"  : "Brand Gray Light",
        "color_value" : "#666666",
        "color_notes" : "Used heavily on borders."
    }
]
%}

<div class="grid g-gutter">
    {% for color in colors %}
    <div class="g-col-xs-6 g-col-sm-4 g-col-lg-3 g-col-xl-2 u-full-height">
        {{ 
            macroColors.cardSwatch(
                color.color_name, 
                color.color_value, 
                color.color_notes
            ) 
        }}
    </div>
    {% endfor %}
</div>

{% endblock %}