@import "var";
@import "helper/variable-function";
@import "setting";
@import "helper/setting-function";
@import "helper/flex";
@import "helper/breakpoint";
@import "helper/shape";
@import "helper/ellipsis";

@import "base/text";
@import "component/button";


.ui-sprite {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.ui-main-content,
.ui-sidebar {
    margin-top: 2rem;
}

.ui-nav-primary,
.ui-nav-secondary,
.ui-header__buttons {
   display: none;
   @include breakpoint(screen(md)) {
       display: block;
   }
}
.ui-menu-btn {
    @include breakpoint(screen(md)) {
        display: none;
    }
}


@include breakpoint(screen(md)) {
    body.layout-app {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "sidebar"
            "main";

        @media (min-width: 550px) {
            grid-column-gap: 2em;
            //   grid-row-gap: 20px;
            grid-template-columns: 2fr 8fr;
            grid-template-areas:
            "header  header"
            "nav nav"
            "sidebar main";
        }
        
        > header {
            grid-area: header;
        }
        > .ui-nav-primary {
            grid-area: nav;
        }
        > aside {
            grid-area: sidebar;
            > * {
                position: -webkit-sticky;
                position: sticky;
                top: 56px;
            }
        }
        > main {
            grid-area: main;
        }
    }
}

.ui-home {
    display: inline-block;
}

.ui-btn {
    @extend %btn;
    // border-radius: 3px;
}

.ui-menu-btn {
    @extend %btn--sm;
    float: right;
    height: 3rem;
    line-height: 3rem;
    padding-top: 0;
    padding-bottom: 0;
    &::after {
        background: rgba(0, 0, 0, 0.2);
        content: '';
        display: none;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &.is-active::after {
        display: block;
    }
}

.ui-home {
    float: left;
    line-height: 3rem;
    margin-left: 1.5rem;
}

.ui-title {
    > *:not(:last-child) {
        margin-bottom: 0;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    > *:not(:first-child) {
        margin-top: 0;
    }
}

/**
 * Modes added to <body> tag
 * library or preview
 */

.ui-mode-library {
    padding-top: 3em;
}


/**
 * Header
 */

.ui-header {
    font-size: 16px;
    background-color: color(neutral,darkest);
    color: #fff;
    border-bottom: 1px solid color(neutral, darker);

    @include breakpoint(max-width screen(sm, max)) {
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 1;
    }

    @include breakpoint(screen(md)) {
        display: flex;
        align-items: center;
    }

    a {
        color: color(neutral, white);
        fill: color(neutral, white);
    }

    &__buttons {
        float: right;
        margin: 0 0 0 auto;
    }
}

@keyframes slidein-left {
    from {
      transform: translateX(26rem); }
    to {
      transform: translateX(0); } }

.ui-nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    background: #ffffff;
    border-left: 1px solid #aeb0b5;
    border-right: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem;
    width: 26rem;
    z-index: 9000;
    &.is-active {
        animation: slidein-left 0.3s ease-in-out;
    display: flex;
    }
}

/**
 * Developer Bar
 */

.ui-devbar__bp {
    background-color: #8e7cc3;
    color: color(neutral, white);

    @include breakpoint(screen(sm) screen(sm, max)) {
        background-color: #6fa8dc;
    }
    @include breakpoint(screen(md) screen(md, max)) {
        background-color: #6aa84f;
    }
    @include breakpoint(screen(lg) screen(lg, max)) {
        background-color: #ffd966;
        color: color(neutral, darkest);
    }
    @include breakpoint(screen(xl)) {
        background-color: #e06666;
        color: color(neutral, white);
    }
}

.ui-devbar {
    position: fixed;
    width: 100%;
    height: 6px;
    bottom: 0;
    right: 0;
    font-size: 10px;
    font-weight: bold;
    z-index: 9999;

    &__bp {
        position: fixed;
        bottom: spacing();
        right: spacing();
        padding: 5px 10px;
        border-radius: 3px;
        &:after {
            content: "max-width: #{screen(xs) - 0.01em}";

            @include breakpoint(screen(xs)) {
                content: "xs: #{screen(xs)}";
            }
            @include breakpoint(screen(sm)) {
                content: "sm: #{screen(sm)}";
            }
            @include breakpoint(screen(md)) {
                content: "md: #{screen(md)}";
            }
            @include breakpoint(screen(lg)) {
                content: "lg: #{screen(lg)}";
            }
            @include breakpoint(screen(xl)) {
                content: "xl: #{screen(xl)}";
            }
        }
    }
}


/**
 * Main Menu
 */

 .ui-nav-primary {
    background-color: color(neutral, lightest);
    border-bottom: 1px solid color(neutral, lighter);
    padding: spacing(xs) spacing();
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
 }

 .ui-nav ul,
 .ui-nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
 }

.ui-nav {
    a {
        text-decoration: none;
    }
}

.ui-nav-secondary {
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
    a {
        display: block;
        padding: spacing(xs) spacing();
        &.is-active,
        &:hover {
            background-color: color(neutral, lightest);
        }
    }
}


/**
 * Shape demos
 */

.ui-shape-circle {
    @include circle;
}

.ui-shape-square {
    @include square;
}

.ui-shape-triangle {
    @include triangle;
}

.ui-shape-chevron {
    @include chevron;
}

.ui-shape-minus {
    @include minus;
}

.ui-shape-plus {
    @include plus;
}

.ui-shape-cross {
    @include cross;
}

.ui-shape-tick {
    @include tick;
}

.ui-shape-hamburger {
    @include hamburger;
}

.ui-shape-ring {
    @include ring;
}


/**
 * Ellipsis
 */

.ui-ellipsis {
    @include ellipsis;
    display: block;
}


/**
 * Pattern
 */

.ui-pattern {
    margin: 3em auto;
    position: relative;

    &__anchor {
        position: absolute;
        top: -5em;
    }

    &__header {
        background-color: color(neutral, lightest);
        border: 1px solid color(neutral, lighter);
        border-radius: $border-radius $border-radius 0 0;
        padding: spacing() spacing(lg);

        > :first-child {
            padding-right: spacing();
        }

        a {
            text-decoration: none;
        }

        .ui-sprite {
            width: 18px;
            height: 18px;
        }

        svg {
            fill: color(neutral, light);
        }

        * {
            margin: 0;
        }
    }

    &__body {
        border: 1px solid color(neutral, lighter);
        border-radius: 0 0 $border-radius $border-radius;
        background-color: color(neutral, white);
        border-top: 0;
    }

    &__doc {
        max-width: container(sm);
        padding: spacing(xl);
    }

    code {
        background-color: color(neutral, lightest);
        font-size: 13px;
    }
}

/**
 * Demo
 */

.ui-demo {
    &:not(:first-child) {
        border-top: 1px solid color(neutral, lighter);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding: 3px 6px;
            font-size: 13px;
            font-weight: bold;
            background-color: color(neutral, lightest);
            border-bottom: 1px solid color(neutral, lighter);
            border-right: 1px solid color(neutral, lighter);
            border-bottom-right-radius: $border-radius;
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul {
            margin-right: spacing(sm);
        }

        li {
            display: inline-block;
            padding-left: spacing(xs);
        }

        a {
            display: inline-block;
            padding: 3px;
            font-size: 13px;
        }

        code {
            font-size: 11px;
        }
    }

    &__demo {
        padding: spacing(xl);
        padding-top: spacing(lg);
    }

    &__code {
        background-color: color(neutral, lightest);
        padding: spacing(xl);
        box-shadow:inset 0 3px 3px 0 rgba(0,0,0,.1);
        max-height: 20em;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        pre,
        code {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}


/**
 * Color
 */

 .ui-color {
    border-radius: $border-radius;
    background-color: color(neutral, lightest);
    border: 1px solid rgba(0,0,0,.1);
    overflow: hidden;

    &__swatch {
        height: 5em;
        position: relative;
    }

    &__body {
        padding: spacing(sm);

        > * {
            margin: 0;
        }
    
        p {
            font-size: 11px;
            color: color(neutral, dark);
        }
    
        code {
            padding-left: 0;
            font-size: 11px;
        }
    }

    &__value {
        display: block;
        padding: 0 6px;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
        border-bottom-right-radius: $border-radius;
    }
 }


/**
 * Visible in chopchop
 */

body:not(.ui-mode-library) .u-visible-cc {
    display: none !important;
}
body.ui-mode-library .u-visible-cc {
    display: block !important;
}


/**
 * Special widths for chopchop
 */

.ui-mode-library {
    .ui-pattern-width-sm {
        max-width: container(sm)/2;
    }
    .ui-pattern-width-md {
        max-width: container(md)/2;
    }
    .ui-pattern-width-lg {
        max-width: container(lg)/2;
    }
}


/**
 * Classes
 */

.ui-classes {
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    li {
        display: block;
        float: left;
        padding: 0 spacing(xs) spacing(xs) 0;
    }
}

.ui-demo-footer {
    padding: spacing(xs) 0;
    background-color: #fff;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    position: fixed;
    width: 100%;
}