{% extends 'layouts/block.html' %}

{% set pattern_name = "Lists" %}
{% set pattern_advice = "Lists organize written information for users." %}

{% block content %}

<h3>Ordered list</h3>
<ol>
    <li>The European languages are members of the same family.</li>
    <li>Their separate existence is a myth.</li>
    <li>The new common language will be more simple and regular than the existing European languages.
        <ul>
            <li>It will be as simple as Occidental; in fact, it will be Occidental.</li>
            <li>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.</li>
            <li>The European languages are members of the same family.</li>
        </ul>
    </li>
    <li>The languages only differ in their grammar, their pronunciation and their most common words.</li>
    <li>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</li>
</ol>

<h3>Unordered list</h3>
<ul>
    <li>The European languages are members of the same family.</li>
    <li>Their separate existence is a myth.</li>
    <li>The new common language will be more simple and regular than the existing European languages.
        <ul>
            <li>It will be as simple as Occidental; in fact, it will be Occidental.</li>
            <li>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.</li>
            <li>The European languages are members of the same family.</li>
        </ul>
    </li>
    <li>The languages only differ in their grammar, their pronunciation and their most common words.</li>
    <li>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</li>
</ul>

<h3>Definition list</h3>
<dl>
    <dt>This is a term.</dt>
    <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
    <dt>Here is another term.</dt>
    <dd>And it gets a definition too, which is this line.</dd>
    <dt>Here is term that shares a definition with the term below.</dt>
    <dt>Here is a defined term.</dt>
    <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
</dl>

{% endblock %}