{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
</head>

<body class="{% block body_classes %}isolated-app{% endblock %}">

    {% block before_main %}
        {% include "shared/back.html" %}
    {% endblock %}
    
    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "shared/app-breakpoint-bar.html" %}
    
    {% block javascript %}
    <script src="javascripts/app.js"></script>
    {% endblock %}
</body>

</html>